<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        {% block stylesheets %}
            {{ include ('inc/css.html.twig') }}
        {% endblock %}
    </head>
    <body class="animsition">
        {% block header %}
            {{ include ('inc/header.html.twig') }}
        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
            {{ include ('inc/footer.html.twig') }}
        {% endblock %}

        {% block javascripts %}
            {{ include ('inc/js.html.twig') }}
        {% endblock %}
    </body>
</html>
