{% extends 'back/base.html.twig' %}

{% block body %}
<br>
<br>
<br>
<br>
<div class="container-fluid">
        <h1 class="text-center">Listes de tous les produits</h1>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nom du produit</th>
                <th scope="col">Publier</th>
                <th scope="col">Description</th>
                <th scope="col">Image</th>
                <th scope="col">Prix</th>
                <th scope="col">Référence</th>
                <th scope="col">Catégorie</th>
                <th scope="col">
                    <a class="btn btn-success" href="{{ path('add-product') }}">
                    Ajouter un produit
                    </a>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
            <tr class="table-primary">
                <th scope="row">{{ product.id }}</th>
                <td>
                    <a href="{{ path('show-product', {id: product.id}) }}">
                    {{ product.name }}
                    </a>
                </td>
                <td>{% if product.isPublished == '1' %}
                        <span class="badge badge-success">Oui</span>
                        {% elseif product.isPublished == '0' %}
                            <span class="badge badge-danger">Non</span>
                    {% endif %}
                </td>
                <td>{{ product.description | truncate('50') }}</td>
                <td><img src="{{ asset('images/products/'~product.imageName) }}" alt="{{ product.imageName }}" width="50px" height="50"> </td>
                <td>{{ product.price }}€</td>
                <td>{{ product.reference }}</td>
                <td>{{ product.category}}</td>
                <td>
                    <a href="{{ path('show-product', {id: product.id}) }}" class="btn btn-info">Voir</a>
                    <a href="{{ path('edit-product', {id: product.id}) }}" class="btn btn-success">Modifier</a>
                    <a href="{{ path('delete-product', {id: product.id}) }}" class="btn btn-danger delete" data-confirm="Voulez vous vraiment supprimer cette catégorie ?">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

</div>


{% endblock %}