{% extends 'back/base.html.twig' %}

{% form_theme addProduct 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <div class="container">
        <h1>Ajouter un produit</h1>
        <br>
        {{ form_start(addProduct) }}
         <div class="form-group">
            {{ form_widget(addProduct.name) }}
         </div>
         <div class="form-group">
            {{ form_widget(addProduct.description) }}
         </div>
         <div class="form-group">
                {{ form_widget(addProduct.isPublished, {"label": "Publier"}) }}
         </div>
         <div class="form-group">
            {{ form_label(addProduct.price, 'Prix') }}
             €
            {{ form_widget(addProduct.price) }}
         </div>
         <div class="form-group">
             <div class="custom-file">
                {{ form_label(addProduct.imageFile, 'Images', {'attr': {'class': 'custom-file-label'}}) }}
                {{ form_widget(addProduct.imageFile, {'required': 'true'}) }}
             </div>
         </div>
        <div class="form-group">
            {{ form_label(addProduct.category, 'Catégorie') }}
            {{ form_widget(addProduct.category) }}
        </div>
        <button class="btn btn-primary" type="submit">Ajouter</button>
        {{ form_end(addProduct) }}
    </div>
<br>
<br>
<br>
{% endblock %}